body{
    background-color: #9aa8af;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {

    width: 50vw;
    border: 1px solid #8096ae;
    display: block;
    border-radius: 5px;
    margin: 0 auto;
}
.is-hidden{
    display: none;
}
.breed-select{
    display: flex;
    align-items: center;
    width: 50vw;
    height: 10vw;
    text-align: center;
    font-size: 2vw;
    background-color: #a39aa4;
    border-radius: 5px;

}
.cat-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }