body {
  background-color: #9aa8af;
  margin: 2vw auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55vw;
}
.is-hidden {
  display: none;
}

img {
  border: 1px solid #8096ae;
  display: block;
  border-radius: 5px;
  margin: 2vw auto;
}

.breed-select {
  background-color: #9aa8af;
  color: black;

  font-size: 26px;
}
.group-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

}
.ss-main{
    background-color: #9aa8af;
    color: black;

  font-size: 26px;
}